<!doctype html>
<html lang="en">
  <head>
  	<title>E-Gastos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">	

    <link rel="stylesheet" href="../static/css/modal.css">

	</head>
    <body>
        <div class="modal-container">
            <div class="modal">
                <p>
                    1. Olá! Para utilizar o sistema primeiro cadastre a categoria de gastos!
                </br>
            </br>
                    2. Após a categoria estar cadastrada, adicione o gasto.
                </br>
            </br>
                    3. Para analisar os gastos, selecione a guia Relatório.
                </br>
            </br>
                    4. Em Histórico você pode conferir os dados que foram lançados.
                </p>
                <p id="duvidas">
                    <a href="duvidas.com" target="_blank">Dúvidas? Clique Aqui.</a>
                </p>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Ok</button>
            </div>
            </div>
        </div>
    </body> 
</html>            